.sidebar {
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom: 0px;
  height: calc(100vh - 46px);
}

ul li {
  list-style: none;
  padding: 5px 5px 5px 15px;
  margin-bottom: 2px;
  background-color: #ededed;
  cursor: pointer;
}

ul {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
}
